@import url('https://fonts.googleapis.com/css?family=Raleway');
*{
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
}

div{
	width: 200px;
}
.amarillo {
  background-color: yellow;
}

#fucsia {
  background-color: #DF0174;
  border: 1px green solid;
}

.amarillo, #fucsia {
  height: 60px;
  display: inline-block;
}
